@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family:"Merriweather",Arial, Helvetica, sans-serif;
    box-sizing:border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

img{
    width: 100%;
}